*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.home{
    background-image: url('assets/star-sign-gcf4d76a9c_1280.jpg');
    height: 100vh;
    background-size: cover;
    background-position: center;
    padding: 4%;
}

.content{
    height: 100%;
    border-radius: 30px;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
}

.info{
    margin: 0 auto;
    width: fit-content;
    align-self: center;
    text-align: center;
    color: beige;
}