*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.home{
    background-image: url('assets/star-sign-gcf4d76a9c_1280.jpg');
    height: 100vh;
    background-size: cover;
    background-position: center;
    padding: 1%;
}

.content{
    height: 100%;
    border-radius: 30px;
    background: rgba(25, 78, 146, 0.5);
}

.info{
    margin: 0 auto;
    width: fit-content;
    align-self: center;
    text-align: center;
    color: beige;
    padding-top: 15%;
    height: 85%;
}

nav{
    margin: 0 auto;
    width: fit-content;

}
nav a{
    text-decoration: none;
    display: inline-block;
}

.comment{
    color: white;
    font-size: 40px;
    padding: 10px;
    margin-right: 20px;
    border-radius: 50%;
    background: rgba(102, 25, 146, 0.9);
}

.homeicon{
    color: white;
    font-size: 40px;
    padding: 20px;
    margin-right: 20px;
    border-radius: 50%;
    background: rgba(102, 25, 146, 0.9);
}

.icons{
    color: white;
    font-size: 40px;
    padding: 10px;
    margin-right: 20px;
    border-radius: 50%;
    background: rgba(102, 25, 146, 0.9);
}